[build]
  publish = "."

[[redirects]]
  from = "/about"
  to = "/about.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  conditions = {Path = ["!*.html", "!*.css", "!*.js", "!*.png", "!*.jpg", "!*.jpeg", "!*.svg"]}
